body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
}
#myCarousel {
  margin: 50px 0 0 0;
}
#navbar-collapse ul {
  margin-top: 0;
}
.carousel-inner img {
  margin: 0 auto;
}
/* .carousel-control {
  font-size: 100px;
} */
.tab-h2 {
  font-size: 20px;
  color: #0059B2;
  text-align: center;
  letter-spacing: 1px;
}
.tab-p {
  font-size: 15px;
  color: #999;
  text-align: center;
  letter-spacing: 1px;
  margin: 20px 0 40px 0;
}
/* 没有小于768px，bootstrap3以移动端为优先 */
/* 小屏幕（平板） */
@media (min-width: 768px) {
  .tab-h2 {
    font-size: 26px;
  }
  .tab-p {
    font-size: 16px;
  }
}
/* 中等屏幕（桌面显示器） */
@media (min-width: 992px) {
  .tab-h2 {
    font-size: 28px;
  }
  .tab-p {
    font-size: 17px;
  }
}
/* 大屏幕（大桌面显示器） */
@media (min-width: 1200px) {
  .tab-h2 {
    font-size: 30px;
  }
  .tab-p {
    font-size: 18px;
  }
}
.tab1 {
  margin: 30px 0;
  color: #666;
}
.tab1-img {
  width: 95px;
  height: 95px;
}
.tab1 .media-heading {
  margin: 5px 0 20px 0;
}
.tab1 .text-muted {
  color: #999;
  text-decoration: line-through;
}
.tab1 .col {
  padding: 20px;
}